<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Monoton&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Monoton&family=Questrial&family=Secular+One&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Monoton&family=Oxygen:wght@300&family=Questrial&family=Secular+One&display=swap"
        rel="stylesheet">
    <!--Css-->
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Evolución de dispositivos movilest</title>
</head>

<body>
    <section id="homer1" class="text-center center">
        <video autoplay muted>
            <source src="/assets/video/homer1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </section>

    <section id="content">
        <div class="cotainer background1 title1">
            <h1 class="text-center">Newton</h1>
            <h2 class="text-center">1993</h2>
        </div>
        <div class="container text-center">
            <img src="https://regmedia.co.uk/2013/09/16/mp_2.jpg" class="img-fluid img-single" alt="...">
            <div class="container">
                <p>El Apple Newton es un dispositivo del tipo PDA (asistente digital personal) con un sistema operativo
                    llamado "Newton OS". El MessagePad fue uno de los primeros PDA con capacidad de reconocimiento de
                    escritura, siendo la sucesora de esta 1.ª generación la plataforma iOS, utilizada en el iPhone, iPod
                    Touch y iPad. El desarrollo de la plataforma Newton empezó en 1987 y terminó oficialmente el 27 de
                    febrero de 1998 (comercializado de 1993 a 1998).
                    Fue considerado un fracaso de Apple en su momento, tras el cual abandonó el sector ante la aparición
                    de equipos como la Palm. </p>
            </div>
            <a href="/templates/index2.html" class="btn btn-outline-success">Volver al presente</a>
        </div>

    </section>

    <!--Temporizar imagen - homero viaja al pasado-->
    <script>
        const homer = document.getElementById("homer1");
        const content = document.getElementById("content");
        function noVideo() {
            homer.style.display = 'none';

        }
        function noContent() {
            content.style.display = 'none';
        }
        function showContent() {
            content.style.display = 'block';
        }
        setTimeout(noContent, 0);
        setTimeout(noVideo, 14200);
        setTimeout(showContent, 14300);
    </script>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>